// Startup processes configuration
// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.

// Wallpaper
spawn-sh-at-startup "swaybg -i $HOME/.config/niri/wallpapers/roxy.jpg -m fill"

// This line starts waybar, a commonly used bar for Wayland compositors.
// spawn-at-startup "blueman-applet"
// `-n` avoids blocking the graphical session if hda-verb is not granted in sudoers.
spawn-at-startup "sudo" "-n" "hda-verb" "/dev/snd/hwC0D0" "0x1d" "SET_PIN_WIDGET_CONTROL" "0x0"
spawn-sh-at-startup "$HOME/.config/niri/scripts/swayidle.sh"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"   // 可选，如果你想要图片历史
spawn-at-startup "waybar"
//spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "xwayland-satellite" ":"
spawn-at-startup "clash-verge"
spawn-at-startup "awww-daemon"
spawn-at-startup "fcitx5" "-d" "--replace"
spawn-at-startup "foot" "--server"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "mako"

//Make some noise
spawn-sh-at-startup "paplay \"$HOME/.local/share/sounds/intro.mp3\""

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"


hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// 由于 niri-session 内部会启动 D-Bus 并在单独的上下文中运行，有时环境变传递会失效。你可以尝试在 niri 的 config.kdl 中添加自启动项，以确保服务完全激活：
//spawn-at-startup "dbus-update-activation-environment" "--all"
//spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
